@charset "UTF-8";
/* CSS Document */

    body{
    	padding-top: 50px;
    }
	/*导航 css */
	.navcontainer {
		background-color:white;
		height:50px;
	}
	.navbar-brand{
		height:46px;
		width:200px;
		margin-left:220px;
		padding-top:3px;
		padding-bottom:0px;
	}
	.navbar-right{
		margin-right:210px;
	}
	.navdropdown{
		border-left:1px solid #ddd;
		border-right:1px solid #ddd;
	}
	/*首页第一部分：welcome和登入 css */
	.indexslider{
		height:400px;
	}
	.userpic{
		width:18px;
		height:18px;
	}
	.indexLogin{
		padding-top:30px;
	}
	.welcome{
		background-color:#FFF;
	}
	.welcome img{
		width: 100%;
    	height: 100%;
	}
	
	/*第二部分slider css */
	.indexSecondSec{
		height:390px;

	}
	.carousel-inner img{
    	width:100%;
    	height: 100%;
    }
	/*首页第三部分服务店展示 css */
	.indexThirdSec{
		padding-top:100px;
		background-color:#f1f2f2;
	}
    .indexThirdSec img {
    	width: 500px;
    	height: 250px;
    }
	.mainfooter{
		padding-top:30px;
		background-color:#e6e7e8;
	}
	.mainfooter img{
		width: 200px;
    	height: 100px;
    }
	
	/* 杂志 css */
	.galleryFirstSec{
		background-color:#E3E5D0;
	}

	.galleryFirstSecLeft{
		text-align:center;

	}
	.galleryFirstSecLeft img{
		width: 300px;
    	height: 200px;
	}
	
	.galleryFirstSecRight{
		margin-top:50px;
		text-align:center;
		vertical-align:auto;
		
	}
	.galleryFirstSecRightButton{
		margin-top:50px;
	}
		
	.progress{
	
		width: 400px;
	}
	
	.galleryFirstButtom{
	
	}
		